@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

$font-family: 'Open Sans Condensed';
$font-size: 20px;

.main-animals {
    margin-top: 0;
    border-radius: 0;
    display: grid;
    width: auto;
    padding: 2.5%;
    font-family: $font-family;
    font-size: $font-size;
    background-color: #242323;
    justify-content: space-around;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    
    .main-animal {

    }
    
    .image {
        width: 250px;
        height: 250px;
        -moz-border-radius: 199px;
        -webkit-border-radius: 40px;
        border-radius: 125px;
    }

    .main-animal-content {
        text-align: center;
        color: white;
    }
}