@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

$font-family: 'Open Sans Condensed';
$font-size: 20px;

.extinct-container {
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 100px 0;

    .extinct-title {
        text-align: center;
        font-family: $font-family;
        font-size: 50px;
    }

    .extinct-animals {
        margin-top: 0;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        padding: 1%;
        flex-wrap: wrap;
        font-family: $font-family;
        font-size: $font-size;
        justify-content: center;
        
        
        .image {
            width: 300px;
            height: 300px;
            -moz-border-radius: 199px;
            -webkit-border-radius: 40px;
            border-radius: 150px;
        }

        .extinct-name {
            text-align: center;
        }

    }
}