.main-about{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255,255,255);

    .about-title {
        font-family: $font-family;
        text-align: center;
        color: rgb(03,03,03);
        font-size: 150px;
    }
}