.subscribe-button {
    background-color: #77b55a;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
    border: 1px solid #4b8f29;
    border-radius: 5px;
}

.unsubscribe-button {
    background-color: #d50e00;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #681414;
    border: 1px solid #681414;
    border-radius: 5px;
}

.individual-animal-name {
    text-align: center;
    font-family: $font-family;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.individual-animal-image {
    padding-left: 270px;
    padding-right: 0px;
    width: 70vw;
    height: 70vh;
    margin: 0;
}

.individual-animal-fact {
    height: 20vh;
    width: 100vw;
    background-color: #242323;
    font-family: $font-family;
    font-size: 30px;
    text-align: center;
}

.individual-fact {
    padding: 50px;
    color: white;
}

.animal-button {
    padding-left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}